:root {
    --primary-margin: 30px auto;
    --secondary-margin: 10px auto;
}

/* Single-use value */
body {
    background: #000;
}
body {
    background-image: url('../media/images/bg.jpg'); /* Replace 'your-image-url.jpg' with the URL of your image */
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha value (0.7 in this case) to control the exposure */
}

h1 {
    font-size: 60px;
}

button {
    padding: 8px;
    border-radius: 12px;
    border: none;
    background: #E9E9E9;
}

.container {
    width: 100%;
    height: 100vh;
}

.logo {
    margin-bottom: 3px;
}


.summary {
    width: 45%;
}

.nextPage {
    text-align: center;
    margin: var(--primary-margin);
}

.nextPage > button {
    margin: var(--secondary-margin);
}

.footer {
    position: relative;
    text-align: center;
    margin: 60px auto 10px auto;
}

/* Same-value, multiple elements/class */
h1, h3 {
    font-family: var(--heading-font);
    color: #fff;
}

p, footer {
    font-family: var(--text-font);
    color: #fff;
}

/* Tweaking bootstrap css vals */
/* Navbar */
.navbar {
    padding: 0 !important;
    background-color: transparent !important;
}

.navbar-brand {
    color: #fff;
}

.nav-link {
    font-family: var(--heading-font);
    font-weight: 700;
    color: #fff;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 2px;
}

/* Animation */
/* Hero Text*/
/* .floating {
    animation: float 3s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
} */

/* Summary */
/* .floating-1 {
    animation: float 3s infinite ease-in-out;
    animation-delay: 1s; 
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
} */

/* Collage */
/* .floating-2 {
    animation: circle 5s infinite linear;
}

@keyframes circle {
    0% {
        transform: translateY(0) translateX(100px);
    }
    25% {
        transform: translateY(-100px) translateX(0);
    }
    50% {
        transform: translateY(0) translateX(-100px);
    }
    75% {
        transform: translateY(100px) translateX(0);
    }
    100% {
        transform: translateY(0) translateX(100px);
    }
} */