/* Fonts */
/* Horizon */
@font-face {
    font-family: 'Horizon';
    src: url(../media/Font/Horizon/OTF/horizon.otf) format('opentype'),
         url(../media/Font/Horizon/TTF/horizon.ttf) format('truetype'),
         url(../media/Font/Horizon/WOFF/horizon.woff) format('woff'),
         url(../media/Font/Horizon/WOFF2/horizon.woff2) format('woff2');
}

/* Horizon Outlined */
@font-face {
    font-family: 'Horizon Outlined';
    src: url(../media/Font/Horizon/OTF/horizon_outlined.otf) format('opentype'),
         url(../media/Font/Horizon/TTF/horizon_outlined.ttf) format('truetype'),
         url(../media/Font/Horizon/WOFF/horizon_outlined.woff) format('woff'),
         url(../media/Font/Horizon/WOFF2/horizon_outlined.woff2) format('woff2');
}

/* Styling Var */
:root {
    --primary-margin: 30px auto;
    --secondary-margin: 10px auto;
    --text-font: 'Montserrat', sans-serif;
    --heading-normal: 'Horizon';
    --heading-outlined: 'Horizon Outlined';
    --letter-spacing: 2px;
}

/* Single-use value */
body {
    background: #000;
}
body {
    background-image: url('../media/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.6); 
}

h1 {
    font-size: 60px;
}

button {
    padding: 8px;
    border-radius: 12px;
    border: none;
    background: #E9E9E9;
}

.container {
    width: 100%;
    height: 100vh;
}

.heroText {
    margin: var(--primary-margin);
    color: #fff;
    text-align: center;
    letter-spacing: var(--letter-spacing);
}

.text1 {
    font-family: var(--heading-normal);
    margin: 0px;
}

.text2 {
    font-family: var(--heading-outlined);
    margin: 0px;
}

.summary {
    width: 45%;
}

.nextPage {
    text-align: center;
    margin: var(--primary-margin);
}

.nextPage > button {
    margin: var(--secondary-margin);
}

.footer {
    position: relative;
    text-align: center;
    margin: 60px auto 10px auto;
}

/* Same-value, multiple elements/class */
p, footer {
    font-family: var(--text-font);
    color: #fff;
}

/* Tweaking bootstrap css vals */
/* Navbar */
.navbar {
    padding: 0 !important;
    background-color: transparent !important;
}

.navbar-brand {
    color: #fff;
    font-family: var(--heading-normal);
    letter-spacing: var(--letter-spacing);
}

.navbar-brand:hover {
    color: #fff;
    text-decoration: #fff 2px underline;
    
}

.nav-link {
    font-family: var(--heading-outlined);
    color: #fff;
    letter-spacing: var(--letter-spacing);
}

.nav-link:hover {
    font-family: var(--heading-normal);
    color: #fff;
}

/* Animation */
/* Hero Text*/
/* .floating {
    animation: float 3s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
} */

/* Summary */
/* .floating-1 {
    animation: float 3s infinite ease-in-out;
    animation-delay: 1s; 
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Collage */
/* .floating-2 {
    animation: circle 5s infinite linear;
}

@keyframes circle {
    0% {
        transform: translateY(0) translateX(100px);
    }
    25% {
        transform: translateY(-100px) translateX(0);
    }
    50% {
        transform: translateY(0) translateX(-100px);
    }
    75% {
        transform: translateY(100px) translateX(0);
    }
    100% {
        transform: translateY(0) translateX(100px);
    }
} */